USE [master]
GO
/****** Object:  Database [RecetasMarianDB]    Script Date: 6/8/2025 14:43:12 ******/
CREATE DATABASE [RecetasMarianDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RecetasMarianDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\RecetasMarianDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RecetasMarianDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\RecetasMarianDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RecetasMarianDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RecetasMarianDB]
GO
/****** Object:  Table [dbo].[Tbl_Categorias]    Script Date: 6/8/2025 14:43:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Categorias](
	[CategoriaId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Descripcion] [nvarchar](100) NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
	[EstadoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Dificultad]    Script Date: 6/8/2025 14:43:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Dificultad](
	[DificultadId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
	[EstadoId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DificultadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Estados]    Script Date: 6/8/2025 14:43:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Estados](
	[EstadoId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Ingredientes]    Script Date: 6/8/2025 14:43:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Ingredientes](
	[IngredienteId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[Descripcion] [nvarchar](1000) NULL,
	[Unidad] [nvarchar](20) NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
	[EstadoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IngredienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_PasosReceta]    Script Date: 6/8/2025 14:43:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_PasosReceta](
	[PasoId] [int] IDENTITY(1,1) NOT NULL,
	[RecetaId] [int] NULL,
	[NumeroPaso] [int] NULL,
	[Descripcion] [nvarchar](max) NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
	[EstadoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PasoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_RecetaIngredientes]    Script Date: 6/8/2025 14:43:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_RecetaIngredientes](
	[RecetaId] [int] NOT NULL,
	[IngredienteId] [int] NOT NULL,
	[Cantidad] [decimal](10, 2) NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
	[EstadoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RecetaId] ASC,
	[IngredienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Recetas]    Script Date: 6/8/2025 14:43:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Recetas](
	[RecetaId] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](100) NULL,
	[Descripcion] [nvarchar](1000) NULL,
	[TiempoPreparacion] [int] NULL,
	[UsuarioId] [int] NULL,
	[CategoriaId] [int] NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
	[EstadoId] [int] NULL,
	[DificultadId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RecetaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Roles]    Script Date: 6/8/2025 14:43:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Roles](
	[RolId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Descripcion] [nvarchar](100) NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
	[EstadoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_UsuarioRoles]    Script Date: 6/8/2025 14:43:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_UsuarioRoles](
	[UsuarioId] [int] NOT NULL,
	[RolId] [int] NOT NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
	[EstadoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC,
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Usuarios]    Script Date: 6/8/2025 14:43:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Usuarios](
	[UsuarioId] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [nvarchar](100) NOT NULL,
	[PrimerNombre] [nvarchar](100) NOT NULL,
	[PrimerApellido] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[DNI] [nvarchar](14) NOT NULL,
	[Contrasena] [varchar](64) NOT NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
	[EstadoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tbl_Categorias] ON 

INSERT [dbo].[Tbl_Categorias] ([CategoriaId], [Nombre], [Descripcion], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (1, N'Desayuno', N'Recetas para comenzar el día', CAST(N'2025-07-10T22:21:01.313' AS DateTime), CAST(N'2025-07-10T22:21:01.313' AS DateTime), 1)
INSERT [dbo].[Tbl_Categorias] ([CategoriaId], [Nombre], [Descripcion], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (2, N'Almuerzo', N'Platos principales para la comida', CAST(N'2025-07-10T22:21:01.313' AS DateTime), CAST(N'2025-07-10T22:21:01.313' AS DateTime), 1)
INSERT [dbo].[Tbl_Categorias] ([CategoriaId], [Nombre], [Descripcion], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (3, N'Cena', N'Recetas ligeras para la noche', CAST(N'2025-07-10T22:21:01.313' AS DateTime), CAST(N'2025-07-10T22:21:01.313' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Tbl_Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_Dificultad] ON 

INSERT [dbo].[Tbl_Dificultad] ([DificultadId], [Nombre], [Descripcion], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (1, N'Fácil', N'Requiere poca preparación y conocimientos básicos.', CAST(N'2025-08-05T16:31:14.773' AS DateTime), CAST(N'2025-08-05T16:31:14.773' AS DateTime), 1)
INSERT [dbo].[Tbl_Dificultad] ([DificultadId], [Nombre], [Descripcion], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (2, N'Media', N'Requiere algo de experiencia y más pasos.', CAST(N'2025-08-05T16:31:14.773' AS DateTime), CAST(N'2025-08-05T16:31:14.773' AS DateTime), 1)
INSERT [dbo].[Tbl_Dificultad] ([DificultadId], [Nombre], [Descripcion], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (3, N'Difícil', N'Preparación compleja o técnica avanzada.', CAST(N'2025-08-05T16:31:14.773' AS DateTime), CAST(N'2025-08-05T16:31:14.773' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Tbl_Dificultad] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_Estados] ON 

INSERT [dbo].[Tbl_Estados] ([EstadoId], [Nombre], [FechaCreacion], [FechaModificacion]) VALUES (1, N'Activo', CAST(N'2025-07-10T22:21:01.310' AS DateTime), NULL)
INSERT [dbo].[Tbl_Estados] ([EstadoId], [Nombre], [FechaCreacion], [FechaModificacion]) VALUES (2, N'Inactivo', CAST(N'2025-07-10T22:21:01.310' AS DateTime), NULL)
INSERT [dbo].[Tbl_Estados] ([EstadoId], [Nombre], [FechaCreacion], [FechaModificacion]) VALUES (3, N'Fácil', CAST(N'2025-08-04T20:31:23.423' AS DateTime), CAST(N'2025-08-04T20:31:23.423' AS DateTime))
SET IDENTITY_INSERT [dbo].[Tbl_Estados] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_Ingredientes] ON 

INSERT [dbo].[Tbl_Ingredientes] ([IngredienteId], [Nombre], [Descripcion], [Unidad], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (1, N'Huevo', N'Huevo de gallina', N'unidad', CAST(N'2025-08-04T20:12:34.653' AS DateTime), CAST(N'2025-08-04T20:12:34.653' AS DateTime), 1)
INSERT [dbo].[Tbl_Ingredientes] ([IngredienteId], [Nombre], [Descripcion], [Unidad], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (2, N'Pan', N'Pan blanco rebanado', N'rebanada', CAST(N'2025-08-04T20:12:34.653' AS DateTime), CAST(N'2025-08-04T20:12:34.653' AS DateTime), 1)
INSERT [dbo].[Tbl_Ingredientes] ([IngredienteId], [Nombre], [Descripcion], [Unidad], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (3, N'Leche', N'Leche entera', N'ml', CAST(N'2025-08-04T20:12:34.653' AS DateTime), CAST(N'2025-08-04T20:12:34.653' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[Tbl_Ingredientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_PasosReceta] ON 

INSERT [dbo].[Tbl_PasosReceta] ([PasoId], [RecetaId], [NumeroPaso], [Descripcion], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (1, 1, 1, N'Corta la pechuga de pollo en cubos y sazónala con sal y pimienta. Pica finamente la cebolla y el ajo.', CAST(N'2025-08-04T20:17:24.770' AS DateTime), CAST(N'2025-08-04T20:17:24.770' AS DateTime), 1)
INSERT [dbo].[Tbl_PasosReceta] ([PasoId], [RecetaId], [NumeroPaso], [Descripcion], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (2, 1, 2, N'En una olla grande, calienta un poco de aceite de oliva y sofríe el pollo hasta que esté dorado. Retíralo y resérvalo.', CAST(N'2025-08-04T20:18:45.290' AS DateTime), CAST(N'2025-08-04T20:18:45.290' AS DateTime), 1)
INSERT [dbo].[Tbl_PasosReceta] ([PasoId], [RecetaId], [NumeroPaso], [Descripcion], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (3, 2, 1, N'COMER COMER', CAST(N'2025-08-04T21:00:03.547' AS DateTime), CAST(N'2025-08-05T19:50:11.760' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Tbl_PasosReceta] OFF
GO
INSERT [dbo].[Tbl_RecetaIngredientes] ([RecetaId], [IngredienteId], [Cantidad], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (1, 4, CAST(400.00 AS Decimal(10, 2)), CAST(N'2025-08-04T20:17:24.760' AS DateTime), CAST(N'2025-08-04T20:17:24.760' AS DateTime), 1)
INSERT [dbo].[Tbl_RecetaIngredientes] ([RecetaId], [IngredienteId], [Cantidad], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (1, 5, CAST(400.00 AS Decimal(10, 2)), CAST(N'2025-08-04T20:18:45.277' AS DateTime), CAST(N'2025-08-04T20:18:45.277' AS DateTime), 1)
INSERT [dbo].[Tbl_RecetaIngredientes] ([RecetaId], [IngredienteId], [Cantidad], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (2, 13, CAST(20.00 AS Decimal(10, 2)), CAST(N'2025-08-04T21:38:21.023' AS DateTime), CAST(N'2025-08-04T21:38:21.023' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[Tbl_Recetas] ON 

INSERT [dbo].[Tbl_Recetas] ([RecetaId], [Titulo], [Descripcion], [TiempoPreparacion], [UsuarioId], [CategoriaId], [FechaCreacion], [FechaModificacion], [EstadoId], [DificultadId]) VALUES (1, N'Arroz con pollo y verduras', N'Un plato principal delicioso y nutritivo, con arroz cocido en un caldo de pollo y verduras frescas.', 45, 1, 1, CAST(N'2025-08-04T20:17:24.747' AS DateTime), CAST(N'2025-08-05T16:53:18.133' AS DateTime), 4, 3)
INSERT [dbo].[Tbl_Recetas] ([RecetaId], [Titulo], [Descripcion], [TiempoPreparacion], [UsuarioId], [CategoriaId], [FechaCreacion], [FechaModificacion], [EstadoId], [DificultadId]) VALUES (2, N'Ensalada de Pollo y Aguacate', N'Ensalada fresca con pollo a la parrilla, aguacate y vinagreta de mostaza y miel. Cena ligera, saludable y llena de sabor.', 30, 1, 3, CAST(N'2025-08-04T21:00:03.523' AS DateTime), CAST(N'2025-08-06T14:35:23.453' AS DateTime), 1, 7)
SET IDENTITY_INSERT [dbo].[Tbl_Recetas] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_Roles] ON 

INSERT [dbo].[Tbl_Roles] ([RolId], [Nombre], [Descripcion], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (1, N'Administrador', N'Acceso total al sistema', CAST(N'2025-07-10T22:21:01.310' AS DateTime), NULL, 1)
INSERT [dbo].[Tbl_Roles] ([RolId], [Nombre], [Descripcion], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (2, N'Usuario', N'Usuario con permisos limitados', CAST(N'2025-07-10T22:21:01.310' AS DateTime), NULL, 1)
INSERT [dbo].[Tbl_Roles] ([RolId], [Nombre], [Descripcion], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (3, N'Administrador', N'Acceso total al sistema', CAST(N'2025-07-10T22:22:23.373' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[Tbl_Roles] OFF
GO
INSERT [dbo].[Tbl_UsuarioRoles] ([UsuarioId], [RolId], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (1, 1, CAST(N'2025-07-10T22:21:01.313' AS DateTime), NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[Tbl_Usuarios] ON 

INSERT [dbo].[Tbl_Usuarios] ([UsuarioId], [Usuario], [PrimerNombre], [PrimerApellido], [Email], [DNI], [Contrasena], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (1, N'mjarquin', N'Marian', N'Jarquin', N'mjarquin@udem.edu.ni', N'12345678900000', N'$2a$11$1HCeURcge35/sWCJTF3gtOcZsE1YL2N5nizkAnu6/dMwkNvbxJx6S', CAST(N'2025-07-10T22:21:01.313' AS DateTime), CAST(N'2025-08-06T11:32:17.190' AS DateTime), 1)
INSERT [dbo].[Tbl_Usuarios] ([UsuarioId], [Usuario], [PrimerNombre], [PrimerApellido], [Email], [DNI], [Contrasena], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (2, N'elopez', N'Eveling', N'Lopez', N'elopez@udem.edu.ni', N'123456789', N'$2a$11$Bmc5FT0TJyzYKPmpfuW5B.TgxJPywurdE2mv9shdznyG1RF3HeuDm', CAST(N'2025-08-06T11:36:10.103' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[Tbl_Usuarios] OFF
GO
/****** Object:  Index [UQ_PasosReceta]    Script Date: 6/8/2025 14:43:12 ******/
ALTER TABLE [dbo].[Tbl_PasosReceta] ADD  CONSTRAINT [UQ_PasosReceta] UNIQUE NONCLUSTERED 
(
	[RecetaId] ASC,
	[NumeroPaso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Usua__A9D10534C3BBB89F]    Script Date: 6/8/2025 14:43:12 ******/
ALTER TABLE [dbo].[Tbl_Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Usua__C035B8DDC795BC03]    Script Date: 6/8/2025 14:43:12 ******/
ALTER TABLE [dbo].[Tbl_Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tbl_Categorias] ADD  DEFAULT ((1)) FOR [EstadoId]
GO
ALTER TABLE [dbo].[Tbl_Dificultad] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Tbl_Dificultad] ADD  DEFAULT (getdate()) FOR [FechaModificacion]
GO
ALTER TABLE [dbo].[Tbl_Ingredientes] ADD  DEFAULT ((1)) FOR [EstadoId]
GO
ALTER TABLE [dbo].[Tbl_PasosReceta] ADD  DEFAULT ((1)) FOR [EstadoId]
GO
ALTER TABLE [dbo].[Tbl_RecetaIngredientes] ADD  DEFAULT ((1)) FOR [EstadoId]
GO
ALTER TABLE [dbo].[Tbl_Recetas] ADD  DEFAULT ((1)) FOR [EstadoId]
GO
ALTER TABLE [dbo].[Tbl_Roles] ADD  DEFAULT ((1)) FOR [EstadoId]
GO
ALTER TABLE [dbo].[Tbl_UsuarioRoles] ADD  DEFAULT ((1)) FOR [EstadoId]
GO
ALTER TABLE [dbo].[Tbl_Usuarios] ADD  DEFAULT ((1)) FOR [EstadoId]
GO
ALTER TABLE [dbo].[Tbl_Categorias]  WITH CHECK ADD FOREIGN KEY([EstadoId])
REFERENCES [dbo].[Tbl_Estados] ([EstadoId])
GO
ALTER TABLE [dbo].[Tbl_Ingredientes]  WITH CHECK ADD FOREIGN KEY([EstadoId])
REFERENCES [dbo].[Tbl_Estados] ([EstadoId])
GO
ALTER TABLE [dbo].[Tbl_PasosReceta]  WITH CHECK ADD FOREIGN KEY([EstadoId])
REFERENCES [dbo].[Tbl_Estados] ([EstadoId])
GO
ALTER TABLE [dbo].[Tbl_PasosReceta]  WITH CHECK ADD FOREIGN KEY([RecetaId])
REFERENCES [dbo].[Tbl_Recetas] ([RecetaId])
GO
ALTER TABLE [dbo].[Tbl_RecetaIngredientes]  WITH CHECK ADD FOREIGN KEY([EstadoId])
REFERENCES [dbo].[Tbl_Estados] ([EstadoId])
GO
ALTER TABLE [dbo].[Tbl_RecetaIngredientes]  WITH CHECK ADD FOREIGN KEY([IngredienteId])
REFERENCES [dbo].[Tbl_Ingredientes] ([IngredienteId])
GO
ALTER TABLE [dbo].[Tbl_RecetaIngredientes]  WITH CHECK ADD FOREIGN KEY([RecetaId])
REFERENCES [dbo].[Tbl_Recetas] ([RecetaId])
GO
ALTER TABLE [dbo].[Tbl_Recetas]  WITH CHECK ADD FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[Tbl_Categorias] ([CategoriaId])
GO
ALTER TABLE [dbo].[Tbl_Recetas]  WITH CHECK ADD FOREIGN KEY([EstadoId])
REFERENCES [dbo].[Tbl_Estados] ([EstadoId])
GO
ALTER TABLE [dbo].[Tbl_Recetas]  WITH CHECK ADD FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Tbl_Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[Tbl_Recetas]  WITH CHECK ADD  CONSTRAINT [FK_Recetas_Dificultad] FOREIGN KEY([DificultadId])
REFERENCES [dbo].[Tbl_Dificultad] ([DificultadId])
GO
ALTER TABLE [dbo].[Tbl_Recetas] CHECK CONSTRAINT [FK_Recetas_Dificultad]
GO
ALTER TABLE [dbo].[Tbl_Roles]  WITH CHECK ADD FOREIGN KEY([EstadoId])
REFERENCES [dbo].[Tbl_Estados] ([EstadoId])
GO
ALTER TABLE [dbo].[Tbl_UsuarioRoles]  WITH CHECK ADD FOREIGN KEY([EstadoId])
REFERENCES [dbo].[Tbl_Estados] ([EstadoId])
GO
ALTER TABLE [dbo].[Tbl_UsuarioRoles]  WITH CHECK ADD FOREIGN KEY([RolId])
REFERENCES [dbo].[Tbl_Roles] ([RolId])
GO
ALTER TABLE [dbo].[Tbl_UsuarioRoles]  WITH CHECK ADD FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Tbl_Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[Tbl_Usuarios]  WITH CHECK ADD FOREIGN KEY([EstadoId])
REFERENCES [dbo].[Tbl_Estados] ([EstadoId])
GO
/****** Object:  StoredProcedure [dbo].[USP_ACCIONDIFICULTADES]    Script Date: 6/8/2025 14:43:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_ACCIONDIFICULTADES]
    @Accion INT,
    @DificultadId INT = NULL,
    @Nombre NVARCHAR(100) = NULL,
    @Descripcion NVARCHAR(255) = NULL,
    @EstadoId INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Acción 1: Listar todas las dificultades
    IF @Accion = 1
    BEGIN
        SELECT 
            DificultadId, 
            Nombre, 
            Descripcion, 
            FechaCreacion, 
            FechaModificacion, 
            EstadoId
        FROM Tbl_Dificultad
        ORDER BY Nombre;
    END
    
    -- Acción 2: Insertar nueva dificultad
    ELSE IF @Accion = 2
    BEGIN
        -- Validar que el nombre no sea nulo o vacío
        IF @Nombre IS NULL OR LTRIM(RTRIM(@Nombre)) = ''
        BEGIN
            RAISERROR('El nombre de la dificultad no puede estar vacío.', 16, 1);
            RETURN;
        END

        INSERT INTO Tbl_Dificultad (Nombre, Descripcion, FechaCreacion, EstadoId)
        VALUES (@Nombre, @Descripcion, GETDATE(), 1);
    END
    
    -- Acción 3: Actualizar dificultad existente
    ELSE IF @Accion = 3 AND @DificultadId IS NOT NULL
    BEGIN
        -- Validar si la dificultad existe
        IF NOT EXISTS (SELECT 1 FROM Tbl_Dificultad WHERE DificultadId = @DificultadId)
        BEGIN
            RAISERROR('La dificultad especificada no existe.', 16, 1);
            RETURN;
        END
        
        -- Validar que el nombre no sea nulo o vacío en la actualización
        IF @Nombre IS NULL OR LTRIM(RTRIM(@Nombre)) = ''
        BEGIN
            RAISERROR('El nombre de la dificultad no puede estar vacío.', 16, 1);
            RETURN;
        END

        UPDATE Tbl_Dificultad
        SET
            Nombre = @Nombre,
            Descripcion = ISNULL(@Descripcion, Descripcion),
            EstadoId = ISNULL(@EstadoId, EstadoId),
            FechaModificacion = GETDATE()
        WHERE DificultadId = @DificultadId;
    END
    
    -- Manejo de acción no válida
    ELSE
    BEGIN
        RAISERROR('Acción no válida o parámetros insuficientes.', 16, 1);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ACCIONESCATEGORIA]    Script Date: 6/8/2025 14:43:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROC [dbo].[USP_ACCIONESCATEGORIA]
    @Accion INT,
    @CategoriaId INT = NULL,
    @Nombre NVARCHAR(100) = NULL,
    @Descripcion NVARCHAR(100) = NULL,
    @EstadoId INT = NULL
AS
BEGIN
    -- Acción 1: Listar Categorías
    IF @Accion = 1
    BEGIN
        SELECT CategoriaId, Nombre, Descripcion, FechaCreacion, FechaModificacion, EstadoId
        FROM Tbl_Categorias
        ORDER BY FechaCreacion;
    END

    -- Acción 2: Guardar una nueva categoría
    ELSE IF @Accion = 2
    BEGIN
        INSERT INTO Tbl_Categorias (Nombre, Descripcion, FechaCreacion, EstadoId)
        VALUES (@Nombre, @Descripcion, GETDATE(), 1);
    END

    -- Acción 3: Actualizar una categoría existente
    ELSE IF @Accion = 3 AND @CategoriaId IS NOT NULL
    BEGIN
        IF EXISTS (SELECT 1 FROM Tbl_Categorias WHERE CategoriaId = @CategoriaId)
        BEGIN
            UPDATE Tbl_Categorias
            SET 
                Nombre = ISNULL(@Nombre, Nombre),
                Descripcion = ISNULL(@Descripcion, Descripcion),
                EstadoId = ISNULL(@EstadoId, EstadoId),
                FechaModificacion = GETDATE()
            WHERE CategoriaId = @CategoriaId;
        END
        ELSE
        BEGIN
            RAISERROR('La categoría especificada no existe.', 16, 1);
        END
    END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ACCIONESINGREDIENTE]    Script Date: 6/8/2025 14:43:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROCEDURE [dbo].[USP_ACCIONESINGREDIENTE]
    @Accion INT,
    @IngredienteId INT = NULL,
    @Nombre NVARCHAR(100) = NULL,
    @Descripcion NVARCHAR(100) = NULL,
    @Unidad NVARCHAR(50) = NULL,
    @EstadoId INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Acción 1: Listar Ingredientes
    IF @Accion = 1
    BEGIN
        SELECT IngredienteId, Nombre, Descripcion, Unidad, FechaCreacion, FechaModificacion, EstadoId
        FROM Tbl_Ingredientes
        ORDER BY FechaCreacion;
    END

    -- Acción 2: Insertar nuevo ingrediente
    ELSE IF @Accion = 2
    BEGIN
        INSERT INTO Tbl_Ingredientes (Nombre, Descripcion, Unidad, FechaCreacion, EstadoId)
        VALUES (@Nombre, @Descripcion, @Unidad, GETDATE(), 1);
    END

    -- Acción 3: Actualizar ingrediente existente
    ELSE IF @Accion = 3 AND @IngredienteId IS NOT NULL
    BEGIN
        IF EXISTS (SELECT 1 FROM Tbl_Ingredientes WHERE IngredienteId = @IngredienteId)
        BEGIN
            UPDATE Tbl_Ingredientes
            SET 
                Nombre = ISNULL(@Nombre, Nombre),
                Descripcion = ISNULL(@Descripcion, Descripcion),
                Unidad = ISNULL(@Unidad, Unidad),
                EstadoId = ISNULL(@EstadoId, EstadoId),
                FechaModificacion = GETDATE()
            WHERE IngredienteId = @IngredienteId;
        END
        ELSE
        BEGIN
            RAISERROR('El ingrediente especificado no existe.', 16, 1);
        END
    END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_LOGIN]    Script Date: 6/8/2025 14:43:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_LOGIN]
    @Email NVARCHAR(100)
AS
BEGIN
    SELECT
        U.UsuarioId,
        U.Usuario,
        U.PrimerNombre,
        U.Contrasena,
        U.Email,
        R.RolId,
        R.Nombre AS NombreRol
    FROM Tbl_Usuarios U
    INNER JOIN Tbl_UsuarioRoles UR ON U.UsuarioId = UR.UsuarioId
    INNER JOIN Tbl_Roles R ON UR.RolId = R.RolId
    WHERE 
        U.Email = @Email 
        AND U.EstadoId = 1
        AND UR.EstadoId = 1
        AND R.EstadoId = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_RECETA]    Script Date: 6/8/2025 14:43:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_RECETA]
    @Accion INT,
    @RecetaId INT = NULL,
    @Titulo NVARCHAR(100) = NULL,
    @Descripcion NVARCHAR(1000) = NULL,
    @TiempoPreparacion INT = NULL,
    @UsuarioId INT = NULL,
    @CategoriaId INT = NULL,
    @DificultadId INT = NULL,
    @JsonIngredientes NVARCHAR(MAX) = NULL,
    @JsonPasos NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @Accion NOT IN (1, 2, 3)
        THROW 51000, 'Acción no válida. Use 1 (insertar), 2 (actualizar) o 3 (listar).', 1;

    IF @Accion = 1
    BEGIN
        IF COALESCE(@Titulo, '') = '' OR @UsuarioId IS NULL OR @CategoriaId IS NULL OR @TiempoPreparacion IS NULL OR @DificultadId IS NULL
            THROW 51001, 'Datos incompletos para insertar receta.', 1;

        IF NOT EXISTS (SELECT 1 FROM Tbl_Usuarios WHERE UsuarioId = @UsuarioId)
            THROW 51002, 'Usuario no existe.', 1;

        IF NOT EXISTS (SELECT 1 FROM Tbl_Categorias WHERE CategoriaId = @CategoriaId)
            THROW 51003, 'Categoría no existe.', 1;

        IF NOT EXISTS (SELECT 1 FROM Tbl_Dificultad WHERE DificultadId = @DificultadId)
            THROW 51006, 'Dificultad no existe.', 1;

        INSERT INTO Tbl_Recetas (Titulo, Descripcion, TiempoPreparacion, UsuarioId, CategoriaId, DificultadId, FechaCreacion, FechaModificacion, EstadoId)
        VALUES (LTRIM(RTRIM(@Titulo)), LTRIM(RTRIM(@Descripcion)), @TiempoPreparacion, @UsuarioId, @CategoriaId, @DificultadId, GETDATE(), GETDATE(), 1);

        SET @RecetaId = SCOPE_IDENTITY();
    END

    ELSE IF @Accion = 2
    BEGIN
        IF @RecetaId IS NULL
            THROW 51004, 'RecetaId requerido para actualización.', 1;

        IF NOT EXISTS (SELECT 1 FROM Tbl_Recetas WHERE RecetaId = @RecetaId)
            THROW 51005, 'Receta no encontrada.', 1;

        IF @DificultadId IS NOT NULL AND NOT EXISTS (SELECT 1 FROM Tbl_Dificultad WHERE DificultadId = @DificultadId)
            THROW 51006, 'Dificultad no existe.', 1;

        UPDATE Tbl_Recetas
        SET
            Titulo = ISNULL(LTRIM(RTRIM(@Titulo)), Titulo),
            Descripcion = ISNULL(LTRIM(RTRIM(@Descripcion)), Descripcion),
            TiempoPreparacion = ISNULL(@TiempoPreparacion, TiempoPreparacion),
            UsuarioId = ISNULL(@UsuarioId, UsuarioId),
            CategoriaId = ISNULL(@CategoriaId, CategoriaId),
            DificultadId = ISNULL(@DificultadId, DificultadId),
            FechaModificacion = GETDATE()
        WHERE RecetaId = @RecetaId;
    END

    IF @Accion IN (1, 2)
    BEGIN
        IF @JsonIngredientes IS NOT NULL
        BEGIN
            DECLARE @TempIngredientes TABLE (
                IngredienteId INT,
                Cantidad DECIMAL(18,2)
            );

            INSERT INTO @TempIngredientes (IngredienteId, Cantidad)
            SELECT
                TRY_CAST(JSON_VALUE(I.value, '$.IngredienteId') AS INT),
                TRY_CAST(JSON_VALUE(I.value, '$.Cantidad') AS DECIMAL(18,2))
            FROM OPENJSON(@JsonIngredientes) AS I
            WHERE TRY_CAST(JSON_VALUE(I.value, '$.IngredienteId') AS INT) IS NOT NULL;

            DELETE FROM Tbl_RecetaIngredientes
            WHERE RecetaId = @RecetaId
              AND IngredienteId NOT IN (SELECT IngredienteId FROM @TempIngredientes);

            MERGE INTO Tbl_RecetaIngredientes AS target
            USING @TempIngredientes AS source
            ON target.RecetaId = @RecetaId AND target.IngredienteId = source.IngredienteId
            WHEN MATCHED AND target.Cantidad <> source.Cantidad THEN
                UPDATE SET target.Cantidad = source.Cantidad, target.FechaModificacion = GETDATE()
            WHEN NOT MATCHED THEN
                INSERT (RecetaId, IngredienteId, Cantidad, FechaCreacion, FechaModificacion, EstadoId)
                VALUES (@RecetaId, source.IngredienteId, source.Cantidad, GETDATE(), GETDATE(), 1);
        END
        ELSE IF @Accion = 2 AND @JsonIngredientes IS NULL
        BEGIN
            DELETE FROM Tbl_RecetaIngredientes WHERE RecetaId = @RecetaId;
        END

        IF @JsonPasos IS NOT NULL
        BEGIN
            DECLARE @TempPasos TABLE (
                NumeroPaso INT,
                Descripcion NVARCHAR(1000)
            );

            INSERT INTO @TempPasos (NumeroPaso, Descripcion)
            SELECT
                TRY_CAST(JSON_VALUE(P.value, '$.NumeroPaso') AS INT),
                TRY_CAST(JSON_VALUE(P.value, '$.Descripcion') AS NVARCHAR(1000))
            FROM OPENJSON(@JsonPasos) AS P
            WHERE TRY_CAST(JSON_VALUE(P.value, '$.NumeroPaso') AS INT) IS NOT NULL;

            DELETE FROM Tbl_PasosReceta
            WHERE RecetaId = @RecetaId
              AND NumeroPaso NOT IN (SELECT NumeroPaso FROM @TempPasos);

            MERGE INTO Tbl_PasosReceta AS target
            USING @TempPasos AS source
            ON target.RecetaId = @RecetaId AND target.NumeroPaso = source.NumeroPaso
            WHEN MATCHED AND target.Descripcion <> source.Descripcion THEN
                UPDATE SET target.Descripcion = source.Descripcion, target.FechaModificacion = GETDATE()
            WHEN NOT MATCHED THEN
                INSERT (RecetaId, NumeroPaso, Descripcion, FechaCreacion, FechaModificacion, EstadoId)
                VALUES (@RecetaId, source.NumeroPaso, source.Descripcion, GETDATE(), GETDATE(), 1);
        END
        ELSE IF @Accion = 2 AND @JsonPasos IS NULL
        BEGIN
            DELETE FROM Tbl_PasosReceta WHERE RecetaId = @RecetaId;
        END
    END

    ELSE IF @Accion = 3
    BEGIN
        SELECT
            r.RecetaId,
            r.Titulo,
            r.Descripcion AS DescripcionReceta,
            r.TiempoPreparacion,
            u.Usuario,
            CONCAT(u.PrimerNombre, ' ', u.PrimerApellido) AS NombreCompletoUsuario,
            c.Nombre AS Categoria,
            d.Nombre AS Dificultad,
            (SELECT
                i.IngredienteId AS id,
                i.Nombre AS nombre,
                ri.Cantidad AS cantidad,
                i.Unidad AS unidad
            FROM Tbl_RecetaIngredientes ri
            INNER JOIN Tbl_Ingredientes i ON ri.IngredienteId = i.IngredienteId
            WHERE ri.RecetaId = r.RecetaId
            FOR JSON PATH) AS Ingredientes,
            (SELECT
                pr.NumeroPaso AS NumeroPaso,
                pr.Descripcion AS descripcion
            FROM Tbl_PasosReceta pr
            WHERE pr.RecetaId = r.RecetaId
            ORDER BY pr.NumeroPaso
            FOR JSON PATH) AS Pasos
        FROM Tbl_Recetas r
        INNER JOIN Tbl_Usuarios u ON r.UsuarioId = u.UsuarioId
        INNER JOIN Tbl_Categorias c ON r.CategoriaId = c.CategoriaId
        INNER JOIN Tbl_Dificultad d ON r.DificultadId = d.DificultadId
        ORDER BY r.RecetaId;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[USP_USUARIOS]    Script Date: 6/8/2025 14:43:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_USUARIOS]
    @Accion INT,
    @UsuarioID INT = NULL,
    @Usuario NVARCHAR(100) = NULL,
    @PrimerNombre NVARCHAR(100) = NULL,
    @PrimerApellido NVARCHAR(100) = NULL,
    @Email NVARCHAR(100) = NULL,
    @DNI NVARCHAR(14) = NULL,
    @Contrasena NVARCHAR(64) = NULL,
    @EstadoID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @Accion = 1 
    BEGIN
        IF EXISTS (SELECT 1 FROM tbl_Usuarios WHERE Usuario = @Usuario)
        BEGIN
            RAISERROR('El nombre de usuario ya existe.', 16, 1);
            RETURN;
        END

        IF EXISTS (SELECT 1 FROM tbl_Usuarios WHERE Email = @Email)
        BEGIN
            RAISERROR('El email ya está registrado.', 16, 1);
            RETURN;
        END

        INSERT INTO tbl_Usuarios (Usuario, PrimerNombre, PrimerApellido, Email, DNI, Contrasena, FechaCreacion, EstadoID)
        VALUES (@Usuario, @PrimerNombre, @PrimerApellido, @Email, @DNI, @Contrasena, GETDATE(), 1)
    END
    ELSE IF @Accion = 2 
    BEGIN
        IF EXISTS (SELECT 1 FROM tbl_Usuarios WHERE Usuario = @Usuario AND UsuarioID <> @UsuarioID)
        BEGIN
            RAISERROR('El nombre de usuario ya existe.', 16, 1);
            RETURN;
        END

        IF EXISTS (SELECT 1 FROM tbl_Usuarios WHERE Email = @Email AND UsuarioID <> @UsuarioID)
        BEGIN
            RAISERROR('El email ya está registrado.', 16, 1);
            RETURN;
        END

        UPDATE tbl_Usuarios
        SET 
            FechaModificacion = GETDATE(),
            Usuario = ISNULL(@Usuario, Usuario),
            PrimerNombre = ISNULL(@PrimerNombre, PrimerNombre),
            PrimerApellido = ISNULL(@PrimerApellido, PrimerApellido),
            Email = ISNULL(@Email, Email),
            DNI = ISNULL(@DNI, DNI),
            Contrasena = ISNULL(@Contrasena, Contrasena),
            EstadoID = ISNULL(@EstadoID, EstadoID)
        WHERE UsuarioID = @UsuarioID
    END
    ELSE IF @Accion = 3 
    BEGIN
        SELECT 
            m.UsuarioId,
            m.Usuario,
            CONCAT(m.PrimerNombre, ' ', m.PrimerApellido) AS NombreCompletoUsuario,
            m.Email,
            m.DNI,
            m.Contrasena,
            m.FechaCreacion,
            m.FechaModificacion,
            m.EstadoId
        FROM tbl_Usuarios m
    END
    ELSE IF @Accion = 4 
    BEGIN
        SELECT 
            m.UsuarioId,
            m.Usuario,
            CONCAT(m.PrimerNombre, ' ', m.PrimerApellido) AS NombreCompletoUsuario,
            m.Email,
            m.DNI,
            m.Contrasena,
            m.FechaCreacion,
            m.FechaModificacion,
            m.EstadoId
        FROM tbl_Usuarios m
        WHERE UsuarioId = @UsuarioID
    END
END
GO
USE [master]
GO
