USE [master]
GO
/****** Object:  Database [RecetasMarianDB]    Script Date: 3/8/2025 12:42:38 ******/
CREATE DATABASE [RecetasMarianDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RecetasMarianDB', FILENAME = N'/var/opt/mssql/data/RecetasMarianDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RecetasMarianDB_log', FILENAME = N'/var/opt/mssql/data/RecetasMarianDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RecetasMarianDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RecetasMarianDB]
GO
/****** Object:  Table [dbo].[Tbl_Categorias]    Script Date: 3/8/2025 12:42:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Categorias](
	[CategoriaId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Descripcion] [nvarchar](100) NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
	[EstadoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Estados]    Script Date: 3/8/2025 12:42:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Estados](
	[EstadoId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Ingredientes]    Script Date: 3/8/2025 12:42:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Ingredientes](
	[IngredienteId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[Descripcion] [nvarchar](1000) NULL,
	[Unidad] [nvarchar](20) NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
	[EstadoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IngredienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_PasosReceta]    Script Date: 3/8/2025 12:42:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_PasosReceta](
	[PasoId] [int] IDENTITY(1,1) NOT NULL,
	[RecetaId] [int] NULL,
	[NumeroPaso] [int] NULL,
	[Descripcion] [nvarchar](max) NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
	[EstadoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PasoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_RecetaIngredientes]    Script Date: 3/8/2025 12:42:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_RecetaIngredientes](
	[RecetaId] [int] NOT NULL,
	[IngredienteId] [int] NOT NULL,
	[Cantidad] [decimal](10, 2) NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
	[EstadoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RecetaId] ASC,
	[IngredienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Recetas]    Script Date: 3/8/2025 12:42:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Recetas](
	[RecetaId] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](100) NULL,
	[Descripcion] [nvarchar](1000) NULL,
	[TiempoPreparacion] [int] NULL,
	[UsuarioId] [int] NULL,
	[CategoriaId] [int] NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
	[EstadoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RecetaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Roles]    Script Date: 3/8/2025 12:42:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Roles](
	[RolId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Descripcion] [nvarchar](100) NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
	[EstadoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_UsuarioRoles]    Script Date: 3/8/2025 12:42:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_UsuarioRoles](
	[UsuarioId] [int] NOT NULL,
	[RolId] [int] NOT NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
	[EstadoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC,
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Usuarios]    Script Date: 3/8/2025 12:42:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Usuarios](
	[UsuarioId] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [nvarchar](100) NOT NULL,
	[PrimerNombre] [nvarchar](100) NOT NULL,
	[PrimerApellido] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[DNI] [nvarchar](14) NOT NULL,
	[Contrasena] [varchar](64) NOT NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
	[EstadoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tbl_Categorias] ON 

INSERT [dbo].[Tbl_Categorias] ([CategoriaId], [Nombre], [Descripcion], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (1, N'Desayuno', N'Recetas para comenzar el día', CAST(N'2025-07-10T22:21:01.313' AS DateTime), CAST(N'2025-07-10T22:21:01.313' AS DateTime), 1)
INSERT [dbo].[Tbl_Categorias] ([CategoriaId], [Nombre], [Descripcion], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (2, N'Almuerzo', N'Platos principales para la comida', CAST(N'2025-07-10T22:21:01.313' AS DateTime), CAST(N'2025-07-10T22:21:01.313' AS DateTime), 1)
INSERT [dbo].[Tbl_Categorias] ([CategoriaId], [Nombre], [Descripcion], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (3, N'Cena', N'Recetas ligeras para la noche', CAST(N'2025-07-10T22:21:01.313' AS DateTime), CAST(N'2025-07-10T22:21:01.313' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Tbl_Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_Estados] ON 

INSERT [dbo].[Tbl_Estados] ([EstadoId], [Nombre], [FechaCreacion], [FechaModificacion]) VALUES (1, N'Activo', CAST(N'2025-07-10T22:21:01.310' AS DateTime), NULL)
INSERT [dbo].[Tbl_Estados] ([EstadoId], [Nombre], [FechaCreacion], [FechaModificacion]) VALUES (2, N'Inactivo', CAST(N'2025-07-10T22:21:01.310' AS DateTime), NULL)
INSERT [dbo].[Tbl_Estados] ([EstadoId], [Nombre], [FechaCreacion], [FechaModificacion]) VALUES (3, N'Activo', CAST(N'2025-07-10T22:22:19.123' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Tbl_Estados] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_Ingredientes] ON 

INSERT [dbo].[Tbl_Ingredientes] ([IngredienteId], [Nombre], [Descripcion], [Unidad], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (1, N'Huevo', N'Huevo de gallina', N'unidad', CAST(N'2025-07-10T22:21:01.317' AS DateTime), CAST(N'2025-07-10T22:21:01.317' AS DateTime), 1)
INSERT [dbo].[Tbl_Ingredientes] ([IngredienteId], [Nombre], [Descripcion], [Unidad], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (2, N'Pan', N'Pan blanco rebanado', N'rebanada', CAST(N'2025-07-10T22:21:01.317' AS DateTime), CAST(N'2025-07-10T22:21:01.317' AS DateTime), 1)
INSERT [dbo].[Tbl_Ingredientes] ([IngredienteId], [Nombre], [Descripcion], [Unidad], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (3, N'Leche', N'Leche entera', N'ml', CAST(N'2025-07-10T22:21:01.317' AS DateTime), CAST(N'2025-07-10T22:21:01.317' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Tbl_Ingredientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_PasosReceta] ON 

INSERT [dbo].[Tbl_PasosReceta] ([PasoId], [RecetaId], [NumeroPaso], [Descripcion], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (4, 4, 1, N'Batir los huevos en un recipiente.', CAST(N'2025-07-10T22:22:31.607' AS DateTime), CAST(N'2025-07-10T22:22:31.607' AS DateTime), 1)
INSERT [dbo].[Tbl_PasosReceta] ([PasoId], [RecetaId], [NumeroPaso], [Descripcion], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (5, 4, 2, N'Freír los huevos en una sartén caliente.', CAST(N'2025-07-10T22:22:31.607' AS DateTime), CAST(N'2025-07-10T22:22:31.607' AS DateTime), 1)
INSERT [dbo].[Tbl_PasosReceta] ([PasoId], [RecetaId], [NumeroPaso], [Descripcion], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (6, 4, 3, N'Tostar las rebanadas de pan.', CAST(N'2025-07-10T22:22:31.607' AS DateTime), CAST(N'2025-07-10T22:22:31.607' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Tbl_PasosReceta] OFF
GO
INSERT [dbo].[Tbl_RecetaIngredientes] ([RecetaId], [IngredienteId], [Cantidad], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (4, 1, CAST(2.00 AS Decimal(10, 2)), CAST(N'2025-07-10T22:22:31.603' AS DateTime), CAST(N'2025-07-10T22:22:31.603' AS DateTime), 1)
INSERT [dbo].[Tbl_RecetaIngredientes] ([RecetaId], [IngredienteId], [Cantidad], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (4, 2, CAST(2.00 AS Decimal(10, 2)), CAST(N'2025-07-10T22:22:31.603' AS DateTime), CAST(N'2025-07-10T22:22:31.603' AS DateTime), 1)
INSERT [dbo].[Tbl_RecetaIngredientes] ([RecetaId], [IngredienteId], [Cantidad], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (5, 4, CAST(200.00 AS Decimal(10, 2)), CAST(N'2025-07-10T22:22:31.603' AS DateTime), CAST(N'2025-07-10T22:22:31.603' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[Tbl_Recetas] ON 

INSERT [dbo].[Tbl_Recetas] ([RecetaId], [Titulo], [Descripcion], [TiempoPreparacion], [UsuarioId], [CategoriaId], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (4, N'Huevo con Pan', N'Desayuno rápido y nutritivo.', 10, 1, 1, CAST(N'2025-07-10T22:22:31.603' AS DateTime), CAST(N'2025-07-10T22:22:31.603' AS DateTime), 1)
INSERT [dbo].[Tbl_Recetas] ([RecetaId], [Titulo], [Descripcion], [TiempoPreparacion], [UsuarioId], [CategoriaId], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (5, N'Arroz con Pollo', N'Clásico plato latinoamericano.', 45, 1, 2, CAST(N'2025-07-10T22:22:31.603' AS DateTime), CAST(N'2025-07-10T22:22:31.603' AS DateTime), 1)
INSERT [dbo].[Tbl_Recetas] ([RecetaId], [Titulo], [Descripcion], [TiempoPreparacion], [UsuarioId], [CategoriaId], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (6, N'Pasta con Tomate y Queso', N'Cena ligera y deliciosa.', 25, 1, 3, CAST(N'2025-07-10T22:22:31.603' AS DateTime), CAST(N'2025-07-10T22:22:31.603' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Tbl_Recetas] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_Roles] ON 

INSERT [dbo].[Tbl_Roles] ([RolId], [Nombre], [Descripcion], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (1, N'Administrador', N'Acceso total al sistema', CAST(N'2025-07-10T22:21:01.310' AS DateTime), NULL, 1)
INSERT [dbo].[Tbl_Roles] ([RolId], [Nombre], [Descripcion], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (2, N'Usuario', N'Usuario con permisos limitados', CAST(N'2025-07-10T22:21:01.310' AS DateTime), NULL, 1)
INSERT [dbo].[Tbl_Roles] ([RolId], [Nombre], [Descripcion], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (3, N'Administrador', N'Acceso total al sistema', CAST(N'2025-07-10T22:22:23.373' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[Tbl_Roles] OFF
GO
INSERT [dbo].[Tbl_UsuarioRoles] ([UsuarioId], [RolId], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (1, 1, CAST(N'2025-07-10T22:21:01.313' AS DateTime), NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[Tbl_Usuarios] ON 

INSERT [dbo].[Tbl_Usuarios] ([UsuarioId], [Usuario], [PrimerNombre], [PrimerApellido], [Email], [DNI], [Contrasena], [FechaCreacion], [FechaModificacion], [EstadoId]) VALUES (1, N'MJARQUIN', N'Marian', N'Jarquin', N'mjarquin@udem.edu.ni', N'12345678900000', N'Temporal*123', CAST(N'2025-07-10T22:21:01.313' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[Tbl_Usuarios] OFF
GO
/****** Object:  Index [UQ_PasosReceta]    Script Date: 3/8/2025 12:42:39 ******/
ALTER TABLE [dbo].[Tbl_PasosReceta] ADD  CONSTRAINT [UQ_PasosReceta] UNIQUE NONCLUSTERED 
(
	[RecetaId] ASC,
	[NumeroPaso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Usua__A9D105348F439E03]    Script Date: 3/8/2025 12:42:39 ******/
ALTER TABLE [dbo].[Tbl_Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Usua__C035B8DD49561C0B]    Script Date: 3/8/2025 12:42:39 ******/
ALTER TABLE [dbo].[Tbl_Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tbl_Categorias] ADD  DEFAULT ((1)) FOR [EstadoId]
GO
ALTER TABLE [dbo].[Tbl_Ingredientes] ADD  DEFAULT ((1)) FOR [EstadoId]
GO
ALTER TABLE [dbo].[Tbl_PasosReceta] ADD  DEFAULT ((1)) FOR [EstadoId]
GO
ALTER TABLE [dbo].[Tbl_RecetaIngredientes] ADD  DEFAULT ((1)) FOR [EstadoId]
GO
ALTER TABLE [dbo].[Tbl_Recetas] ADD  DEFAULT ((1)) FOR [EstadoId]
GO
ALTER TABLE [dbo].[Tbl_Roles] ADD  DEFAULT ((1)) FOR [EstadoId]
GO
ALTER TABLE [dbo].[Tbl_UsuarioRoles] ADD  DEFAULT ((1)) FOR [EstadoId]
GO
ALTER TABLE [dbo].[Tbl_Usuarios] ADD  DEFAULT ((1)) FOR [EstadoId]
GO
ALTER TABLE [dbo].[Tbl_Categorias]  WITH CHECK ADD FOREIGN KEY([EstadoId])
REFERENCES [dbo].[Tbl_Estados] ([EstadoId])
GO
ALTER TABLE [dbo].[Tbl_Ingredientes]  WITH CHECK ADD FOREIGN KEY([EstadoId])
REFERENCES [dbo].[Tbl_Estados] ([EstadoId])
GO
ALTER TABLE [dbo].[Tbl_PasosReceta]  WITH CHECK ADD FOREIGN KEY([EstadoId])
REFERENCES [dbo].[Tbl_Estados] ([EstadoId])
GO
ALTER TABLE [dbo].[Tbl_PasosReceta]  WITH CHECK ADD FOREIGN KEY([RecetaId])
REFERENCES [dbo].[Tbl_Recetas] ([RecetaId])
GO
ALTER TABLE [dbo].[Tbl_RecetaIngredientes]  WITH CHECK ADD FOREIGN KEY([EstadoId])
REFERENCES [dbo].[Tbl_Estados] ([EstadoId])
GO
ALTER TABLE [dbo].[Tbl_RecetaIngredientes]  WITH CHECK ADD FOREIGN KEY([IngredienteId])
REFERENCES [dbo].[Tbl_Ingredientes] ([IngredienteId])
GO
ALTER TABLE [dbo].[Tbl_RecetaIngredientes]  WITH CHECK ADD FOREIGN KEY([RecetaId])
REFERENCES [dbo].[Tbl_Recetas] ([RecetaId])
GO
ALTER TABLE [dbo].[Tbl_Recetas]  WITH CHECK ADD FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[Tbl_Categorias] ([CategoriaId])
GO
ALTER TABLE [dbo].[Tbl_Recetas]  WITH CHECK ADD FOREIGN KEY([EstadoId])
REFERENCES [dbo].[Tbl_Estados] ([EstadoId])
GO
ALTER TABLE [dbo].[Tbl_Recetas]  WITH CHECK ADD FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Tbl_Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[Tbl_Roles]  WITH CHECK ADD FOREIGN KEY([EstadoId])
REFERENCES [dbo].[Tbl_Estados] ([EstadoId])
GO
ALTER TABLE [dbo].[Tbl_UsuarioRoles]  WITH CHECK ADD FOREIGN KEY([EstadoId])
REFERENCES [dbo].[Tbl_Estados] ([EstadoId])
GO
ALTER TABLE [dbo].[Tbl_UsuarioRoles]  WITH CHECK ADD FOREIGN KEY([RolId])
REFERENCES [dbo].[Tbl_Roles] ([RolId])
GO
ALTER TABLE [dbo].[Tbl_UsuarioRoles]  WITH CHECK ADD FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Tbl_Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[Tbl_Usuarios]  WITH CHECK ADD FOREIGN KEY([EstadoId])
REFERENCES [dbo].[Tbl_Estados] ([EstadoId])
GO
/****** Object:  StoredProcedure [dbo].[SP_IniciarSesion]    Script Date: 3/8/2025 12:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_IniciarSesion]
    @Email NVARCHAR(100),
    @Contrasena VARCHAR(64)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 FROM Tbl_Usuarios
        WHERE Email = @Email AND Contrasena = @Contrasena AND EstadoId = 1
    )
    BEGIN
        SELECT 
            'Inicio de sesión exitoso.' AS Mensaje,
            UsuarioId,
            Usuario,
            PrimerNombre,
            PrimerApellido,
            Email,
            Contrasena,
            DNI,
            FechaCreacion,
            FechaModificacion,
            EstadoId
        FROM Tbl_Usuarios
        WHERE Email = @Email AND Contrasena = @Contrasena;
    END
    ELSE
    BEGIN
        SELECT 'Credenciales inválidas o usuario inactivo.' AS Mensaje;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[UPS_DETALLES_RECETAS]    Script Date: 3/8/2025 12:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[UPS_DETALLES_RECETAS]
AS

WITH IngredientesCTE AS (
    SELECT 
        r.RecetaId,
        STRING_AGG(CONCAT(i.Nombre, ' ', ri.Cantidad, ' ', i.Unidad), ', ') WITHIN GROUP (ORDER BY i.Nombre) AS Ingredientes
    FROM Tbl_Recetas r
    INNER JOIN Tbl_RecetaIngredientes ri ON r.RecetaId = ri.RecetaId
    INNER JOIN Tbl_Ingredientes i ON ri.IngredienteId = i.IngredienteId
    GROUP BY r.RecetaId
),
PasosCTE AS (
    SELECT 
        r.RecetaId,
        STRING_AGG(CONCAT('Paso ', pr.NumeroPaso, ': ', pr.Descripcion), CHAR(10)) WITHIN GROUP (ORDER BY pr.NumeroPaso) AS Pasos
    FROM Tbl_Recetas r
    INNER JOIN Tbl_PasosReceta pr ON r.RecetaId = pr.RecetaId
    GROUP BY r.RecetaId
)

SELECT 
    r.RecetaId,
    r.Titulo,
    r.Descripcion AS DescripcionReceta,
    r.TiempoPreparacion,
    u.Usuario,
    CONCAT(u.PrimerNombre, ' ', u.PrimerApellido) AS NombreCompletoUsuario,
    c.Nombre AS Categoria,
    i.Ingredientes,
    p.Pasos
FROM Tbl_Recetas r
INNER JOIN Tbl_Usuarios u ON r.UsuarioId = u.UsuarioId
INNER JOIN Tbl_Categorias c ON r.CategoriaId = c.CategoriaId
LEFT JOIN IngredientesCTE i ON r.RecetaId = i.RecetaId
LEFT JOIN PasosCTE p ON r.RecetaId = p.RecetaId
ORDER BY r.RecetaId
;
GO
/****** Object:  StoredProcedure [dbo].[USP_AccionesCategoria]    Script Date: 3/8/2025 12:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 
 CREATE   PROC [dbo].[USP_AccionesCategoria]
    @Accion INT,
    @CategoriaId INT = NULL,
    @Nombre NVARCHAR(100) = NULL,
    @Descripcion NVARCHAR(100) = NULL,
    @FechaCreacion DATETIME = NULL,
    @FechaModificacion DATETIME = NULL,
    @EstadoId INT = NULL
AS
BEGIN
    -- Acción 1: Listar Categorías
    IF @Accion = 1
    BEGIN
        SELECT CategoriaId, Nombre,Descripcion, FechaCreacion, FechaModificacion,EstadoId
        FROM Tbl_Categorias
        ORDER BY FechaCreacion;
    END

    -- Acción 2: Guardar una nueva categoría
    ELSE IF @Accion = 2
    BEGIN
        IF @FechaCreacion IS NULL
            SET @FechaCreacion = GETDATE();

        INSERT INTO Tbl_Categorias (Nombre,Descripcion, FechaCreacion,EstadoId)
        VALUES (@Nombre,@Descripcion, GETDATE(),1);
    END

    -- Acción 3: Actualizar una categoría existente
    ELSE IF @Accion = 3 AND @CategoriaId IS NOT NULL
    BEGIN
        IF @Nombre IS NOT NULL
            UPDATE Tbl_Categorias SET Nombre = @Nombre WHERE CategoriaId = @CategoriaId;

        IF @Descripcion IS NOT NULL
            UPDATE Tbl_Categorias SET Descripcion = @Descripcion WHERE CategoriaId = @CategoriaId;

        IF @EstadoId IS NOT NULL
            UPDATE Tbl_Categorias SET EstadoId = @EstadoId WHERE CategoriaId = @CategoriaId;
 UPDATE Tbl_Categorias SET FechaModificacion = GETDATE() WHERE CategoriaId = @CategoriaId;
    END
END
EXEC USP_AccionesCategoria @Accion = 1,
@CategoriaId = 4,
@EstadoId = 1;
GO
/****** Object:  StoredProcedure [dbo].[USP_Eliminar_Recetas]    Script Date: 3/8/2025 12:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[USP_Eliminar_Recetas]
@RecetaId int
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (SELECT 1 FROM
	Tbl_Recetas WHERE RecetaId = @RecetaId)
BEGIN

	DELETE FROM Tbl_RecetaIngredientes WHERE RecetaId = @RecetaId;

	DELETE FROM Tbl_PasosReceta WHERE RecetaId = @RecetaId;

	DELETE FROM Tbl_Recetas WHERE RecetaId = @RecetaId;

	SELECT 'Receta eliminada correctamente.' AS 
	Mensaje;
END
	ELSE 
BEGIN
	SELECT 'No se encontro la receta con el ID proporcionado.'
	AS
	Mensaje;
END

END
;
EXEC USP_Eliminar_Recetas
 @RecetaId = 16;
GO
/****** Object:  StoredProcedure [dbo].[USP_RECETA_COMPLETA]    Script Date: 3/8/2025 12:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROCEDURE [dbo].[USP_RECETA_COMPLETA]
    @Accion INT, 
    @RecetaId INT = NULL,
    @Titulo NVARCHAR(100) = NULL,
    @Descripcion NVARCHAR(1000) = NULL,
    @TiempoPreparacion INT = NULL,
    @UsuarioId INT = NULL,
    @CategoriaId INT = NULL,
    @JsonIngredientes NVARCHAR(MAX) = NULL,
    @JsonPasos NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @Accion NOT IN (1, 2)
        THROW 51000, 'Acción no válida. Use 1 (insertar) o 2 (actualizar).', 1;

    -- INSERTAR
    IF @Accion = 1
    BEGIN
        IF COALESCE(@Titulo, '') = '' OR @UsuarioId IS NULL OR @CategoriaId IS NULL OR @TiempoPreparacion IS NULL
            THROW 51001, 'Datos incompletos para insertar receta.', 1;

        IF NOT EXISTS (SELECT 1 FROM Tbl_Usuarios WHERE UsuarioId = @UsuarioId)
            THROW 51002, 'Usuario no existe.', 1;

        IF NOT EXISTS (SELECT 1 FROM Tbl_Categorias WHERE CategoriaId = @CategoriaId)
            THROW 51003, 'Categoría no existe.', 1;

        INSERT INTO Tbl_Recetas (Titulo, Descripcion, TiempoPreparacion, UsuarioId, CategoriaId, FechaCreacion, FechaModificacion, EstadoId)
        VALUES (LTRIM(RTRIM(@Titulo)), LTRIM(RTRIM(@Descripcion)), @TiempoPreparacion, @UsuarioId, @CategoriaId, GETDATE(), GETDATE(), 1);

        SET @RecetaId = SCOPE_IDENTITY();
    END

    -- ACTUALIZAR
    ELSE IF @Accion = 2
    BEGIN
        IF @RecetaId IS NULL
            THROW 51004, 'RecetaId requerido para actualización.', 1;

        IF NOT EXISTS (SELECT 1 FROM Tbl_Recetas WHERE RecetaId = @RecetaId)
            THROW 51005, 'Receta no encontrada.', 1;

        UPDATE Tbl_Recetas
        SET
            Titulo = ISNULL(LTRIM(RTRIM(@Titulo)), Titulo),
            Descripcion = ISNULL(LTRIM(RTRIM(@Descripcion)), Descripcion),
            TiempoPreparacion = ISNULL(@TiempoPreparacion, TiempoPreparacion),
            UsuarioId = ISNULL(@UsuarioId, UsuarioId),
            CategoriaId = ISNULL(@CategoriaId, CategoriaId),
            FechaModificacion = GETDATE()
        WHERE RecetaId = @RecetaId;

        -- Eliminar pasos e ingredientes anteriores
        DELETE FROM Tbl_RecetaIngredientes WHERE RecetaId = @RecetaId;
        DELETE FROM Tbl_PasosReceta WHERE RecetaId = @RecetaId;
    END

    ---- Insertar ingredientes
    --IF @JsonIngredientes IS NOT NULL
    --BEGIN
    --    INSERT INTO Tbl_RecetaIngredientes (RecetaId, IngredienteId, Cantidad, FechaCreacion, FechaModificacion, EstadoId)
    --    SELECT 
    --        @RecetaId,
    --        JSON_VALUE(I.value, '$.IngredienteId'),
    --        JSON_VALUE(I.value, '$.Cantidad'),
    --        GETDATE(),
    --        GETDATE(),
    --        1
    --    FROM OPENJSON(@JsonIngredientes) AS I;
    --END
    -- Insertar pasos
    IF @JsonPasos IS NOT NULL
    BEGIN
        INSERT INTO Tbl_PasosReceta (RecetaId, NumeroPaso, Descripcion, FechaCreacion, FechaModificacion, EstadoId)
        SELECT 
            @RecetaId,
            JSON_VALUE(P.value, '$.NumeroPaso'),
            JSON_VALUE(P.value, '$.Descripcion'),
            GETDATE(),
            GETDATE(),
            1
        FROM OPENJSON(@JsonPasos) AS P;
    END

    PRINT 'Receta procesada correctamente.';
END;
GO
/****** Object:  StoredProcedure [dbo].[USP_USUARIOS]    Script Date: 3/8/2025 12:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE   PROCEDURE [dbo].[USP_USUARIOS]
    @Accion INT,
    @UsuarioID INT = NULL,
    @Usuario NVARCHAR(100) = NULL,
    @PrimerNombre NVARCHAR(100) = NULL,
    @PrimerApellido NVARCHAR(100) = NULL,
    @Email NVARCHAR(100) = NULL,
    @DNI NVARCHAR(14) = NULL,
    @Contrasena NVARCHAR(64) = NULL,
    @EstadoID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @Accion = 1
    BEGIN
        INSERT INTO tbl_Usuarios (Usuario, PrimerNombre, PrimerApellido, Email,DNI, Contrasena, FechaCreacion, EstadoID)
        VALUES (@Usuario, @PrimerNombre, @PrimerApellido, @Email,@DNI, @Contrasena, GETDATE(), 1)
    END
    ELSE IF @Accion = 2
    BEGIN
        BEGIN
    UPDATE tbl_Usuarios
    SET 
        FechaModificacion = GETDATE(),
        Usuario = ISNULL(@Usuario, Usuario),
        PrimerNombre = ISNULL(@PrimerNombre, PrimerNombre),
        PrimerApellido = ISNULL(@PrimerApellido, PrimerApellido),
        Email = ISNULL(@Email, Email),
        DNI = ISNULL(@DNI, DNI),
        Contrasena = ISNULL(@Contrasena, Contrasena),
        EstadoID = ISNULL(@EstadoID, EstadoID)
    WHERE UsuarioID = @UsuarioID
END
    END
    ELSE IF @Accion = 3
    BEGIN
        SELECT 
            m.UsuarioId,
            m.Usuario,
     CONCAT(m.PrimerNombre, ' ', m.PrimerApellido) AS NombreCompletoUsuario,
            m.Email,
            m.DNI,
            m.Contrasena,
            m.FechaCreacion,
            m.FechaModificacion,
            m.EstadoId
        FROM tbl_Usuarios m
    END

   ELSE IF @Accion = 4
BEGIN
    SELECT 
        m.UsuarioId,
       m.Usuario,
       CONCAT(m.PrimerNombre, ' ', m.PrimerApellido) AS NombreCompletoUsuario,
       m.Email,
       m.DNI,
       m.Contrasena,
       m.FechaCreacion,
       m.FechaModificacion,
       m.EstadoId
    FROM tbl_Usuarios m
    WHERE UsuarioId = @UsuarioID
END
END

EXEC USP_USUARIOS 
    @Accion = 4,
    @UsuarioID = 3; 





select * from Tbl_Usuarios
GO
USE [master]
GO
