# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

build/
dist/
.cache/
.env
.env.*.local
*.local
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# Logs
logs
*.log
debug.log

# Dependency directories
jspm_packages/

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# System files
.DS_Store
Thumbs.db

# Test coverage
coverage/

# Optional npm cache directory
.npm/

# Misc
*.tgz
*.swp
*.lock-wscript
